
<!-- Intro Start -->

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 class="brand-heading">&nbsp;</h1>
            <h1 class="brand-heading">&nbsp;</h1>
            <span class="intro-text">{{ content }}</span>
            <h5>&nbsp;</h5>
            <a href="#{{ site.pages_list['About'] }}" class="page-scroll">
            <script>
                $(document).ready(function(){       
                var scroll_pos = 0;
                $(document).scroll(function() { 
                    scroll_pos = $(this).scrollTop();
                    if(scroll_pos > 210) {
                        $("nav a").css('color', 'black');
                    } 
                    else {
                        $("nav a").css('color', 'white');
                    }
                    });
            </script>
              {% if site.me-img contains "https://" %}
                <img class="img-me" src="{{ site.me-img }}" alt="">
              {% else %}
                <img class="img-me" src="{{site.baseurl}}{{ site.me-img }}" alt="">
              {% endif %}
              </a> 
          </div>
        </div>
    </div>
  </div>
</header>

<!-- Intro End -->
